*{
    margin: 0;
    padding: 0;
}
.contain
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 8vh auto;
    width: 65%;
    border-radius: 30px;
    height: 90vh;
}
img{
    margin: 70px;
    border-radius: 15px;
}
form
{
    margin: 15px;
}
@media screen and (max-width:1287px)
{
    .contain
    {
        display: flex;
        flex-direction: column;
        width: 60%;
    }   
    img
    {
        height: 400px;
        margin: 10px 70px;
    }
    form
    {
        width: 60%;
        height: 80%;
    }
}

@media screen and (max-width:770px)
{
    img
    {
        width: 300px;
        height: 300px;
        margin: 10px 70px;
    }
}
@media screen and (max-width:520px)
{
    img
    {
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width:430px)
{
    img
    {
        width: 200px;
        height: 200px;
    }
}
